.body {
    background-color:#edd1ac;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 1em;
    margin: 1em;
    border-radius: 1em;
    display: inline-block;
    width: 100;

}
body{
    font-size: 16px;
}
button{
    font-size: 16px;
    background-color: rgb(30, 164, 0);
    color: brown;
    border:none;
    border-radius: 1em;
    font-weight: bold;
    padding: .5em;
}
ul li{
    font-size: 20px;
}

 .Your_Perfect_Pizza {
    text-align: center;
 }


.Shopping_cart{
    background-color:bisque;
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    text-align: center; 
} 
  
.small_pizza {
    background-color: burlywood;
    display: inline-table;
    text-align: left;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
   
}

.medium_pizza {
    background-color: burlywood;
    display: inline-table;
    text-align: left;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
   
}

.large_pizza {
    background-color: burlywood;
    display:inline-table;
    text-align: left;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;
    
}
.contact_us {
    background-color: bisque;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    display: flex;
}

.address {
    background-color: bisque;
    text-align: right;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    width: 40%;
}

.contact {
    background-color:bisque;
    margin: 1em;
    padding: 1em;
    border-radius: 1em;
    width: 60%;

}


@media (min-width: 960px) {

    .pizzas {
        display: flex;
    }
}
